aiohttp[speedups]
aiohttp-jinja2
telethon
cryptg
Pillow
aiohttp_session[secure]
python-dotenv
wget
firebase-admin
Click
Flask
gcloud
googleapis-common-protos
httplib2
itsdangerous
Jinja2
jws
MarkupSafe
oauth2client
protobuf
pyasn1
pyasn1-modules
pycryptodome>=3.4.3
Pyrebase
python-dotenv
python-jwt
requests
requests-toolbelt
rsa
six
Werkzeug
