</div>
<footer class="w-full my-4 py-4 bg-gray-300 xl:text-xl">
    <div class="mx-auto text-center text-black max-w-screen-xl">
      <!-- Disclaimer -->
      <h2>Disclaimer</h2>
      <p>The content displayed on this site, including the API, is not owned by us; all credit goes to the respective owners.</p>
      <h2>
	<a herf="https://telegram.dog/BalaPriyan"><i class="fa-brands fa-telegram"></i></a>
	<a herf="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
	<a herf="https://youtube.com/@KingOfFondness"><i class="fa-brands fa-youtube"></i></a>
	<a herf="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
      </h2>
    </div>
</footer>
<script>
	function toggleTheme() {
  element = document.documentElement;
  if (element.className == "light") {
    element.className = "dark";
    localStorage.theme = 'dark';
    } else {
      element.className = "light";
      localStorage.theme = 'light';
      }
}
</script>

</body>

</html>
